@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

a {
    color: #0c855c;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.navbar-nav li.nav-item a.nav-link {
    font-weight: 600;
    color: black;
    font-size: 18px;
    letter-spacing: 1px;
}

nav.shadow.navbar.navbar-expand-lg.navbar-light {
    /*box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;*/
    background: #f1f4f1;
}

header.banner {
    background: #f1f4f1;
    color: #1c1e59;
    padding: 5rem 0;
}

button.btn-custom.btn {
    background: #ff4009;
    color: #fff;
    font-weight: 600;
    /* border: 2px solid; */
    box-shadow: 3px 7px 20px #00000030;
    padding: 10px 25px;
}

header.banner h1 {
    font-weight: 700;
    line-height: 1.3;
}

header.banner img {
    /* border: 5px solid #ffffff;*/
}

.title.text-uppercase span {
    padding: 10px 15px;
    /* background: #0c855c; */
    /* color: #fff; */
    /* border-radius: 25px; */
    font-weight: 700;
    font-size: 2rem;
    border-bottom: 2px solid #ff3900;
    color: #1c1e59;
}

header.banner span.text-uppercase {
    color: #ff3900;
    border-bottom: 2PX solid;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.opacity-2 {
    opacity: 0.8;
}

h2.sec_title.font-weight-bold.pb-3 {
    font-weight: 700;
    line-height: 1.3;
}

span.orange {
    color: #ff3900;
    border-bottom: 2PX solid;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card svg {
    width: 36px;
    margin: 0 auto;
    top: -20px;
    position: relative;
}

.our_purpose .card {
    background: #0c855c00;
    box-shadow: 0 2px 20px -1px #0c855c38;
    border: none;
}

.our_purpose .card-deck.text-left {
    margin: 50px 0px;
}

p.desc {
    font-size: 20px;
    line-height: 36px;
    text-align: justify;
}

.btns button.btn.btn-sm {
    padding: 0;
    background: transparent;
}

section.services {
    /* background: #f1f1f1;*/
}

.services .card:hover {
    box-shadow: 0px 2px 15px rgb(85 98 112 / 8%);
}

.services .card {
    border: 0;
    border-radius: 20px;
    margin: 0;
    flex: 0 0 24%;
    margin-bottom: 10px;
    padding: 20px;
    margin-right: 5px;
}

h5.card-title {
    font-weight: 600;
}

.services .card img.icon {
    max-width: 50px;
    background: #ff390014;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 30%;
}

.services .card-body {
    padding-left: 20px;
    padding: 20px 0px;
    padding-left: 20px;
}

.team-bg {
    /*background-color: #0c855c08;*/
    overflow: hidden;
}

.team .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(85, 98, 112, 0.08);
    padding: 30px;
    border-radius: 4px;
    background: #fff;
}

.team .member .pic {
    overflow: hidden;
    width: 140px;
    border-radius: 4px;
    max-height: 150px;
}

.team .member .pic img {
    transition: ease-in-out 0.3s;
}

.team .member:hover img {
    transform: scale(1.1);
}

.team .member .member-info {
    padding-left: 30px;
}

.team .member .member-heading {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #556270;
    line-height: 1.2;
}

.team .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.team .member span::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #dee2e6;
    bottom: 0;
    left: 0;
}

.team .member .member-para {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.team .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.team .member .social a:hover {
    background: #f44336;
    text-decoration: none;
}

.team .member .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    background: #ff390194;
}

.team .member .social a+a {
    margin-left: 8px;
}

.team .member .social a .team-icon {
    color: #fff;
    font-size: 16px;
    margin: 0 2px;
}

section.contact {
    background: #f1f1f1;
    padding-top: 10%;
    padding-bottom: 5%;
}

.contact-form {
    background: #fff;
    width: 70%;
}

.contact-form .form-control {
    border-radius: 1rem;
    min-height: 50px;
    border-radius: 12px;
}

.contact-image {
    text-align: center;
}

.contact-image img {
    border-radius: 6rem;
    width: 11%;
    margin-top: 0;
    transform: rotate(29deg);
}

.contact-form form {
    padding: 10%;
}

.contact-form form .row {
    margin-bottom: -7%;
}

.contact-form form .row:last-child {
    margin-bottom: 0;
    margin-top: 7%;
}

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: 0%;
    text-align: center;
    color: #1c1e59;
}

.contact-form .btnContact {
    width: 100%;
    border: none;
    border-radius: 12px;
    padding: 13px;
    background: #ff3900;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    min-width: 150px;
    margin-bottom: 20px;
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

.form-group label {
    font-weight: 500;
    color: #000000;
}


/*footer*/

.col_white_sec {
    color: #fff;
}

footer {
    width: 100%;
    background-color: #06083c;
    min-height: 250px;
    padding: 10px 0px 25px 0px;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    color: #ccc;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_sec {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_sec li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_sec li a {
    color: #ccc;
}

.footer_ul_sec li a:hover {
    color: #fff;
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_sec {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2_sec li p {
    display: table;
}

.footer_ul2_sec li a:hover {
    text-decoration: none;
}

.footer_ul2_sec li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid #ff3900;
    padding-bottom: 20px;
    /* padding-top: 20px; */
    margin-bottom: 20px;
}

.foote_bottom_ul_sec {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.foote_bottom_ul_sec li {
    display: inline;
}

.foote_bottom_ul_sec li a {
    color: #999;
    margin: 0 12px;
}

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #ccc;
    border: 1px solid #ccc;
    padding: 8px 10px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}

.footer_ul2_sec li p a {
    padding: 0;
    width: auto;
    height: auto;
    border: none;
    pointer-events: visible;
}

li.d-block a {
    padding: 8px 6px;
    margin-right: 10px;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    /* margin-bottom: 10px; */
    pointer-events: none;
}

li.d-block a i {
    margin: 0;
}

p.text-center.text_color_w a {
    color: #ccc;
    text-decoration: none;
    /* font-weight: 500; */
}

ul.footer_ul2_sec.social_footer_ul li.d-block {
    float: none;
    padding-left: 0;
}

.footer_ul2_sec li p {
    width: calc(100% - 60px);
    vertical-align: middle;
    padding-left: 0;
}

.coming {
    display: table;
    height: 100%;
    min-height: 100%;
    position: relative;
    width: 100%;
    background: #f7f7f7;
}

.coming .content {
    padding: 0px 30px 30px 30px;
    background-color: #fff;
    display: table-cell;
    height: 100%;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.d-sm-none.d-block.mb-5.py-4 .btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-sm-none.d-block.mb-5.py-4 {
    padding: 20px;
    text-align: center;
    background: #fff;
    border-radius: 4px;
}

span.free {
    font-weight: 600;
    font-size: 26px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: block;
}

@media(max-width:767px) {
    .contact-form {
        width: 95%;
    }
    .contact-form form {
        padding: 2%;
    }
    .navbar-nav li.nav-item a.nav-link {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
    }
    .services .card {
        width: 100%;
        flex: 0 0 100%;
        padding: 0px;
        margin-bottom: 20px;
    }
    p.section_detail.py-3.text-center.w-75.mx-auto {
        width: 100% !important;
    }
    .coming .content {
        padding: 0;
        ;
    }
    .our_purpose .card {
        margin-bottom: 40px;
    }
    header.banner img {
        margin-top: 50px;
    }
    .d-sm-none.d-block.mb-5.py-4 img {
        margin: 0px;
    }
    .col-md-6.pl-5.text-left {
        padding-left: 15px !important;
    }
    p.section_detail.pl-2.text-left.w-75.mx-auto {
        width: 100% !important;
    }
    .contact-image img {
        width: 30%;
        margin-top: 10px;
    }
    .team-bg,
    section#purpose,
    section#about,
    section.services {
        padding: 0px !important;
    }
    section#about span.d-inline-block.mb-2.opacity-2 {
        margin-top: 40px;
    }
    section#about .col-md-6.pl-5.text-left {
        order: 1;
        margin-bottom: 50px;
    }
    section#about .col-md-6 {
        order: 2;
    }
    section#about p.desc {
        text-align: left;
    }
    .services .card {
        flex: 0 0 100%;
    }
    .services .card .card-body {
        order: 1;
        padding: 0;
    }
    .services .card img.card-img-top {
        order: 2;
    }
    section#about .row.align-items-stretch .col-md-6 {
        margin-bottom: 20px;
    }
    section#team {
        padding: 0px 15px !important;
    }
    header.banner span.text-uppercase {
        font-size: 2rem;
    }
    span.free {
        font-size: 22px;
        margin-bottom: 30px;
        margin-top: 10px;
    }
    .d-sm-none.d-block.mb-5.py-4 {
        padding: 60px 20px !important;
        text-align: center;
        background: #06083c;
        border-radius: 4px;
        color: #fff;
    }
    h2.sec_title.font-weight-bold.pb-3 {
        font-size: 1.5rem;
    }
    section#about p.desc {
        font-size: 16px;
    }
    h5.card-title {
        font-size: 1.1rem;
    }
    .title.text-uppercase span {
        font-size: 1.5rem;
    }
    .contact-form h3 {
        margin-bottom: 15%;
        font-size: 1.4rem;
        margin-top: 0%;
    }
    .form-group label {
        font-size: 14px;
    }
    .d-sm-none.d-block.mb-5.py-4 .btns {
        justify-content: space-around;
    }
    .services .card {
        padding: 0px;
    }
}

span.msg {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

@media(max-width:992px) {
    .contact-form {
        width: 95%;
    }
}

nav.shadow.navbar.navbar-expand-lg.navbar-light.fixed {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 9;
}

main {
    overflow: auto;
    height: 100%;
}

main>section {
    padding-top: 100px!important;
}

nav.shadow.navbar.navbar-expand-lg.navbar-light.fixed {
    padding: 5px;
}

nav.shadow.navbar.navbar-expand-lg.navbar-light.fixed img.img-fluid {
    max-width: 70%;
}

nav.shadow.navbar.navbar-expand-lg.navbar-light.fixed a.nav-link {
    font-size: 16px;
    letter-spacing: 0.5px;
}

.collapse.show,
.collapsing {
    display: block;
    background: #fff;
    padding: 20px 0px;
    margin-top: 10px;
}

.g-recaptcha.justify-content-center.text-center>div {
    margin: 0 auto;
}

header.banner h1 span span {
    font-size: 50%;
    /* align-items: initial; */
    padding-top: 5px;
}
/*Share Css*/

.popup {
    position: fixed;
}


/* .view-modal {
    font-size: 18px;
    padding: 10px 25px;
    transform: translate(-50%, -50%);
} */

.popup {
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    max-width: 380px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%) scale(1.2);
    transition: top 0s 0.2s ease-in-out, opacity 0.2s 0s ease-in-out, transform 0.2s 0s ease-in-out;
}

    .popup.show {
        top: 50%;
        opacity: 1;
        pointer-events: auto;
        transform: translate(-50%, -50%) scale(1);
        transition: top 0s 0s ease-in-out, opacity 0.2s 0s ease-in-out, transform 0.2s 0s ease-in-out;
        position: fixed;
        left: 50%;
    }

    .popup :is(header, .icons, .field) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .popup header {
        padding-bottom: 15px;
        border-bottom: 1px solid #ebedf9;
    }

        .popup header span {
            font-size: 21px;
            font-weight: 600;
        }

        .popup header .close,
        .icons a {
            display: flex;
            align-items: center;
            border-radius: 50%;
            justify-content: center;
            transition: all 0.3s ease-in-out;
        }

        .popup header .close {
            color: #878787;
            font-size: 17px;
            background: #f2f3fb;
            height: 33px;
            width: 33px;
            cursor: pointer;
        }

            .popup header .close:hover {
                background: #ebedf9;
            }

    .popup .content {
        margin: 20px 0;
    }

    .popup .icons {
        margin: 15px 0 20px 0;
        padding: 0;
    }

.content p {
    font-size: 16px;
}

.content .icons a {
    height: 50px;
    width: 50px;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid transparent;
}

.icons a i {
    transition: transform 0.3s ease-in-out;
}

.icons a:nth-child(1) {
    color: #1877f2;
    border-color: #b7d4fb;
}

    .icons a:nth-child(1):hover {
        background: #1877f2;
    }

.icons a:nth-child(2) {
    color: #46c1f6;
    border-color: #b6e7fc;
}

    .icons a:nth-child(2):hover {
        background: #46c1f6;
    }

.icons a:nth-child(3) {
    color: #e1306c;
    border-color: #f5bccf;
}

    .icons a:nth-child(3):hover {
        background: #e1306c;
    }

.icons a:nth-child(4) {
    color: #25d366;
    border-color: #bef4d2;
}

    .icons a:nth-child(4):hover {
        background: #25d366;
    }

.icons a:nth-child(5) {
    color: #0088cc;
    border-color: #b3e6ff;
}

    .icons a:nth-child(5):hover {
        background: #0088cc;
    }

.icons a:hover {
    color: #fff;
    border-color: transparent;
}

    .icons a:hover i {
        transform: scale(1.2);
    }

.content .field {
    margin: 12px 0 -5px 0;
    height: 45px;
    border-radius: 4px;
    padding-left: 5px;
    border: 1px solid #e1e1e1;
}

.field.active {
    border-color: #ff4009;
}

.field i {
    width: 50px;
    font-size: 18px;
    text-align: center;
}

.field.active i {
    color: #ff4009;
}

.field input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}